/*FOR DESKTOP*/

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 31.70%;
float: left;}
.col-5{width: 41.66%;}
.col-6{width: 50%;
 float:right;
}
.col-7{width: 58.33;}
.col-8{width: 8.33;}
.col-9{width: 66.66;}
.col-10{width: 75%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.nav-logo{
    text-align: left;;
}
.nav-hading h1{
    text-align: left;
}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color:transparent;
}
/* nav end */

/* profile start */
.profile .top-weather-icon{
    position:absolute;
    right: 100px;
    width: 120px;
    transition: width 2s, transform 5s;
}

 .profile .top-weather-icon:hover{
  width: 140px;
 }

 .profile-dese p{
    color:gray;
    margin:0 auto;
    text-align: center;
    margin-bottom: 10px;
    width:50%;
 }
    

 .profile .bottom-weather-icon{
    bottom:20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 5s;
}

 .profile .bottom-weather-icon:hover{
  width: 140px;
 }


 /* profile end */

 /* about-me start */
.about-img{
margin-top:100px;

}
.about-img img{
 height:270px;
 width:200px;
}

.about-desc p{
    text-align: left;
}


 /* about-me end */

 /* achivement start */
 .achivement{
    padding-right: 5px;
 }
 .contract button{
    width:150px;
 }
 .contract-links{
    position: relative;
 }

 .media-button{
    padding-top:100px;
    
     }

.media-buttons{
    position: absolute;
    left:50%;
    top:50%;
    margin-top:200px;
    transform: translate(-50%,-50%);
}


 /* achivement end*/


  /* footer start */
.footer-menu{
margin-top: 12px;

}
.footer-menu a{
    display:inline;
    margin: 10px;
}


  /* footer end */



